* {
    box-sizing: border-box;
    
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.column {
    float: left;
    padding: 8px;
    margin-left: 0%;
    position:relative;
    color: red;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    
}
.menu {
    width: 13%;
  
  
}
.content {
    width: 75%;
     margin-left: 2%;
}
.menu ul {
    list-style-type: none;
    padding: 0;
      margin-left: 2%;
}
.menu li {
    padding: 8px;
    margin-bottom: 5px;
    background-color:rgba(120,120,140,0.2);
    color: #ffffff;
    float: none;
   
}
.menu li:hover {
    background-color: #0099cc;
}

.menu li.sag{
    
    float:right;
}