p{
    color: bisque;
    font-size: 16px;
    font-family:inherit;
    
    
}
b{
    color:aquamarine;
    font-size: 16px;
}
.disabled{
    
    color:chartreuse;
}
.center { 
    height:auto;
    position: relative;
    border:none; 
    margin-left: 35%;
    margin-right: 5%;
  
}

.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1,h3{
    color:rgba(28,65,180,0.5);
    font-family: fantasy;
  
}